<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/img/logoSo.png}">
    <title>Arte Urbana</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.15.3/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">

</head>

<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/galeria/galeria}">Galeria</a>
        <a th:href="@{/pesquisa/popArt}">Pop Art</a>
        <a th:href="@{/pesquisa/arteUrbana}" class="active">Arte Urbana</a>
        <a th:href="@{/galeria/cadastro}">Cadastro</a>
        <a th:href="@{/sobre}">Sobre</a>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div id="texto">
        <h2>ARTE URBANA</h2>

        <p>Arte urbana é a expressão que se refere a manifestações artísticas desenvolvidas no espaço público,
            distinguindo-se das manifestações de caráter institucional ou empresarial.</p>
        <p>A princípio, um movimento underground, a street art foi gradativamente se
            constituindo como forma do fazer artístico, abrangendo várias modalidades de grafismos,
            algumas vezes muito ricos em detalhes, que vão do Graffiti ao Estêncil, passando por stickers,
            cartazes lambe-lambes, intervenções, instalações, flash mob, entre outras. São formas de
            pessoas sozinhas, expressarem os seus sentimentos através de desenhos.</p>
        <p>A expressão Arte Urbana surge inicialmente associada aos pré-urbanistas culturalistas
            como John Ruskin ou William Morris e posteriormente ao urbanismo culturalista de
            Camillo Sitte e Ebenezer Howard, para identificar o "refinamento" de determinados traços
            executados pelos urbanistas ao "desenharem" a cidade.</p>
    </div>

    <div class="imagem"><center>
        <img th:src="@{../img/pesquisaIMG/arteurbana.png}" alt="exemplo arte urbana" >
        <p>Kissing Coppers</p>
    </center>
    </div>

    <footer>
        <ul>
            <li><strong>Só Amigos Galeria</strong></li>
            <li>Angelo - Eduardo - Lorenzo - Santiago</li>
            <li>SESI - SENAI - CTAI</li>
        </ul>
    </footer>

    <!--JS-->
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <!--<script th:src="@{/js/popper.min.js}"></script>-->
    <script th:src="@{/js/scriptIndex.js}"></script>
    <script th:src="@{/bootstrap-5.0.1/js/bootstrap.min.js}"></script>

</body>
</html>