<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/img/logoSo.png}">
    <title>Cadastro</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.15.3/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">

</head>

<body>

    <!--SIDEBAR-->
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/galeria/galeria}">Galeria</a>
        <a th:href="@{/pesquisa/popArt}">Pop Art</a>
        <a th:href="@{/pesquisa/arteUrbana}">Arte Urbana</a>
        <a th:href="@{/galeria/cadastro}" class="active">Cadastro</a>
        <a th:href="@{/sobre}">Sobre</a>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">☰</button>
    </div>

    <!--TEXTO-->
    <div id="texto">
        <h2><strong>CADASTRO DAS ARTES</strong></h2>

        <p>{mais textos a serem inseridos}</p>
    </div>

    <!--RODAPE-->
    <footer>
        <ul>
            <li><strong>Só Amigos Galeria</strong></li>
            <li>Angelo - Eduardo - Lorenzo - Santiago</li>
            <li>SESI - SENAI - CTAI</li>
        </ul>
    </footer>

    <!--JS-->
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <!--<script th:src="@{/js/popper.min.js}"></script>-->
    <script th:src="@{/js/scriptIndex.js}"></script>
    <script th:src="@{/bootstrap-5.0.1/js/bootstrap.min.js}"></script>

</body>
</html>