<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/img/logohaha.png}">
    <title>Galeria</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.15.3/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">

</head>
    <input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header> Menu</header>
    <a href="#" class="active">
        <i class="nav-item"></i>
        <span> Home</span>
    </a>
    <a href="#">
        <i class="nav-item"></i>
        <span> Galeria</span>
    </a>
    <a href="#">
        <i class="nav-item"></i>
        <span> Pop Art</span>
    </a>
    <a href="#">
        <i class="nav-item"></i>
        <span> Arte Urbana</span>
    </a>
    <a href="#">
        <i class="nav-item"></i>
        <span> Cadastro</span>
    </a>
    <a href="#">
        <i class="nav-item"></i>
        <span> Sobre</span>
    </a>
</div>

<body>

<!--JS-->
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <!--<script th:src="@{/js/popper.min.js}"></script>-->
    <script th:src="@{/js/scriptIndex.js}"></script>
    <script th:src="@{/bootstrap-5.0.1/js/bootstrap.min.js}"></script>
    <!--<script th:src="https//kit.fontawesome.com/a076d05399.js"></script>-->

</body>
</html>